# extra_hosts 設定用 Docker Compose オーバーライドファイル
# 使用方法: docker-compose -f docker-compose.yml -f docker-compose.extra-hosts.yaml up
# GPU の場合: docker-compose -f docker-compose.gpu.yml -f docker-compose.extra-hosts.yaml up

# YAML アンカーを使用して共通の extra_hosts を定義する
x-common-extra-hosts: &common-extra-hosts
  # DeepLearning Box III 上の watsonx.ai 用
  - "console-openshift-console.apps.watsonxai.lab.japan.ibm.com:9.68.80.192"
  - "oauth-openshift.apps.watsonxai.lab.japan.ibm.com:9.68.80.192"
  - "downloads-openshift-console.apps.watsonxai.lab.japan.ibm.com:9.68.80.192"
  - "cp-console-cpd.apps.watsonxai.lab.japan.ibm.com:9.68.80.192"
  - "cpd-cpd.apps.watsonxai.lab.japan.ibm.com:9.68.80.192"
  - "console-openshift-console.apps.watsonxai2.lab.japan.ibm.com:9.68.80.192"
  - "oauth-openshift.apps.watsonxai2.lab.japan.ibm.com:9.68.80.192"
  - "downloads-openshift-console.apps.watsonxai2.lab.japan.ibm.com:9.68.80.192"
  - "cp-console-cpd.apps.watsonxai2.lab.japan.ibm.com:9.68.80.192"
  - "cpd-cpd.apps.watsonxai2.lab.japan.ibm.com:9.68.80.192"
  - "console-openshift-console.apps.watsonxai3.lab.japan.ibm.com:9.68.80.192"
  - "oauth-openshift.apps.watsonxai3.lab.japan.ibm.com:9.68.80.192"
  - "downloads-openshift-console.apps.watsonxai3.lab.japan.ibm.com:9.68.80.192"
  - "cp-console-cpd.apps.watsonxai3.lab.japan.ibm.com:9.68.80.192"
  - "cpd-cpd.apps.watsonxai3.lab.japan.ibm.com:9.68.80.192"
  - "api.watsonxai3.lab.japan.ibm.com:9.68.80.192"
  - "console-openshift-console.apps.watsonxai4.lab.japan.ibm.com:9.68.80.192"
  - "oauth-openshift.apps.watsonxai4.lab.japan.ibm.com:9.68.80.192"
  - "downloads-openshift-console.apps.watsonxai4.lab.japan.ibm.com:9.68.80.192"
  - "cp-console-cpd.apps.watsonxai4.lab.japan.ibm.com:9.68.80.192"
  - "cpd-cpd.apps.watsonxai4.lab.japan.ibm.com:9.68.80.192"
  - "api.watsonxai4.lab.japan.ibm.com:9.68.80.192"
  # GPU サーバー上の watsonx.ai & watsonx Orchestrate 用
  - "api.watsonx2.lab.japan.ibm.com:9.68.80.145"
  - "oauth-openshift.apps.watsonx2.lab.japan.ibm.com:9.68.80.145"
  - "console-openshift-console.apps.watsonx2.lab.japan.ibm.com:9.68.80.145"
  - "grafana-openshift-monitoring.apps.watsonx2.lab.japan.ibm.com:9.68.80.145"
  - "thanos-querier-openshift-monitoring.apps.watsonx2.lab.japan.ibm.com:9.68.80.145"
  - "prometheus-k8s-openshift-monitoring.apps.watsonx2.lab.japan.ibm.com:9.68.80.145"
  - "alertmanager-main-openshift-monitoring.apps.watsonx2.lab.japan.ibm.com:9.68.80.145"
  - "cpd-cpd.apps.watsonx2.lab.japan.ibm.com:9.68.80.145"

services:
  opensearch:
    extra_hosts: *common-extra-hosts

  dashboards:
    extra_hosts: *common-extra-hosts

  openrag-backend:
    extra_hosts: *common-extra-hosts

  openrag-frontend:
    extra_hosts: *common-extra-hosts

  langflow:
    extra_hosts: *common-extra-hosts
